*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.card{
    width:150px;
    background:white;
    text-align:center;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
    transition:0.3s;
}
.card:hover{
    transform:translateY(-8px);
}
.card img{
    width:160px;
    height:140px;
    object-fit:contain;
    margin-bottom:15px;
}
.card h2{
    color:#333;
    margin-bottom:10px;
}
.price{
    color:#009933;
    font-size:22px;
    font-weight:bold;
    margin-bottom:10px;
}
.card p{
    color:#555;
    font-size:15px;
    margin-bottom:15px;
}
button{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}
button:hover{
    background:#0056b3;
}