body{
    background-color: lightblue;
    font-family: Arial;
}
.container{
    width: 450px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}
h2{
    text-align: center;
    color: rgb(4, 4, 8);
}
label{
    font-weight: bold;
}
input,
select,
textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
input[type="radio"],
input[type="checkbox"]{
    width: auto;
}
input[type="submit"]{
    background-color: rgb(72, 104, 211);
    color: white;
    width: 100px;
    padding: 8px;
}
input[type="reset"]{
    background-color: rgb(84, 102, 201);
    color: white;
    width: 100px;
    padding: 8px;
}